<%- partial('_partial/head') %>

<body>
  <header id="header" class="inner clearfix"><%- partial('_partial/header') %></header>
  <div id="content" class="inner">
    <div id="wrapper"><%- body %></div>
  </div>
  <footer id="footer" class="inner clearfix"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>